@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Avenida Horácio Raccanello Filho, 5950<br />
    Fone: |44| 3028-4419
</address>

<address>
    <strong>Email:</strong> <a href="mailto:fcv@fcv.edu.br">fcv@fcv.edu.br</a>
</address>