@{
                /**/

                ViewBag.Title = "Home Page";
}

<br />

@if (User.Identity.IsAuthenticated)
{
    <div class="jumbotron">
        <h1>Histórico</h1>
        <p class="lead">Histórico de pedidos</p>
    </div>

    <div class="jumbotron">
        <h1>Feed</h1>
        <p class="lead">Locais que talvez você goste</p>
    </div>
}
else
{
    <div class="jumbotron">
        <h3>Registre-se ou faça login para começar a ganhar seu cashback!</h3>
    </div>
}


